/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  
  color: #333;
  font-weight: 300;
  background-color: rgb(48, 21, 146)
  
}

.tabset > label {
  position: relative;
  display: inline-block ;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 200;
  min-width: 320px;
  max-width: 992px;
  background: linear-gradient(75deg, #f0f3f7 5%, #2f62d8) !important;
  padding: 0.45rem 1rem !important;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  top: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #2e16b3;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: rgb(34, 46, 59);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: rgb(23, 10, 118);
  border-bottom: 1px solid rgb(12, 31, 155);
  margin-bottom: -1px;
 
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}

