<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>N-Covid Corona virus Medical Prevention HTML Template</title>

    <!--favicon icon-->
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,800%7COpen+Sans:400,600&display=swap" rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="css/all.min.css">
    <!--Datable min css-->
    <link rel="stylesheet" href="css/datatables.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/SmileCovid-logo 7.png" alt="logo" class="img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li><a href="index-2.html" class="dropdown-toggle"> Trang chủ</a>
                        
                    </li>
                    <li><a href="about-us.html">Tư Vấn</a></li>
                    <li><a href="symptoms.html">Triệu chứng</a></li>
                    <li><a href="prevention.html">Phòng ngừa</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header section end-->

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
        <div class="hero-bottom-shape-two" style="background: url('img/hero-bottom-shape.svg')no-repeat bottom center"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">About The COVID-19</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="index-2.html">Trang chủ</a></li>
                                <li class="list-inline-item breadcrumb-item active">Tư vấn covid-19</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->

    <!--about us section start-->
    <section class="about-us-section ptb-100">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div class="about-content-wrap">
                        <h2>Hiểu thêm về COVID-19</h2>
                        <p>Bệnh coronavirus (COVID-19) là một bệnh truyền nhiễm do một loại coronavirus mới phát hiện gây ra. Hầu hết những người bị nhiễm vi-rút COVID-19 sẽ bị bệnh đường hô hấp nhẹ đến trung bình và hồi phục mà không cần điều trị đặc biệt. </p>

                        <ul class="check-list-info">
                            <li><strong>Rửa tay của bạn</strong> – thường xuyên với xà phòng và nước trong ít nhất 20 giây, đặc biệt là sau khi bạn ở nơi công cộng, hoặc sau khi xì mũi, ho hoặc hắt hơi.</li>
                            <li><strong>Giữ khoảng cách của bạn với mọi người</strong> – nếu COVID-19 đang lan rộng trong cộng đồng của bạn. Điều này đặc biệt quan trọng đối với những người có nguy cơ mắc bệnh nặng cao hơn.</li>
                            <li><strong>Bảo vệ mũi và miệng của bạn</strong> – bằng khăn giấy khi bạn ho hoặc hắt hơi hoặc sử dụng mặt trong của khuỷu tay.</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="border-0">
                        <img src="img/hero-animation-04.svg" alt="video" class="img-fluid">
                        <div class="card-img-overlay text-center">
                            <a href="https://www.youtube.com/watch?v=1APwq1df6Mw" class="popup-youtube video-play-icon color-bip shadow"><span class="ti-control-play"></span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col-md-12 col-lg-6">
                    <div class="img-wrap">
                        <img src="img/about-2.jpg" alt="video" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="about-content-wrap">
                        <h2>Đại dịch Cornovairus 2019-2020</h2>
                        <p>Các bệnh được báo cáo có các triệu chứng từ nhẹ đến nặng và tử vong đối với các trường hợp bệnh do coronavirus đã xác nhận 2019 (COVID-19).

                            Các triệu chứng này có thể xuất hiện từ 2-14 ngày sau khi tiếp xúc (dựa trên thời gian ủ bệnh của vi rút MERS-CoV).</p>

                        <ul class="check-list-info">
                            <li><strong>Làm sạch và khử trùng các bề mặt thường xuyên chạm vào hàng ngày</strong> – Điều này bao gồm điện thoại, bảng, công tắc đèn, tay nắm cửa, mặt bàn, tay cầm, bàn làm việc, nhà vệ sinh, vòi nước và bồn rửa.</li>
                            <li><strong>Làm sạch bề mặt bẩn</strong> – Sử dụng chất tẩy rửa hoặc xà phòng và nước trước khi khử trùng.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about us section end-->

    <!--about promo section start-->
    <section class="promo-block ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Các triệu chứng của Coronavirus</h2>
                        <p class="lead">Các triệu chứng phổ biến nhất của COVID-19 và ho khan. Một số bệnh nhân có thể bị đau nhức, nghẹt mũi, chảy nước mũi, đau họng hoặc tiêu chảy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="symptoms-block text-center p-4">
                        <img src="img/symptoms-1.svg" width="150" class="mb-3" alt="prevention">
                        <h5>Sốt</h5>
                        <p>Sốt cao có nghĩa là bạn cảm thấy nóng khi sờ vào ngực hoặc lưng. Đây là một dấu hiệu phổ biến và cũng có thể xuất hiện sau 2-10 ngày.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="symptoms-block text-center p-4">
                        <img src="img/symptoms-2.svg" width="150" class="mb-3" alt="prevention">
                        <h5>Ho</h5>
                        <p>Ho liên tục có nghĩa là ho nhiều trong hơn một giờ, hoặc 3 cơn ho trở lên trong 24 giờ.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="symptoms-block text-center p-4">
                        <img src="img/symptoms-3.svg" width="150" class="mb-3" alt="prevention">
                        <h5>Khó thở</h5>
                        <p>Khó thở cứ 6 người thì có 1 người bị ốm và khó thở hoặc thở gấp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about promo section end-->

    <!--live map update section start-->
    <section class="map-update ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Báo cáo Trực tiếp về Virus Corona (COVID-19)</h2>
                        <p class="lead">Các triệu chứng phổ biến nhất của COVID-19 và ho khan. Một số bệnh nhân có thể bị đau nhức, nghẹt mũi, chảy nước mũi, đau họng hoặc tiêu chảy.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="map-update-wrap position-relative">
                        <iframe  style="width: 100%" height="450" class="rounded shadow" src="https://coronavirus.app/map" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 text-center updated-text">
                    <p>* Nếu muốn xem dữ liệu bạn di chuột vào vòng tròn màu đỏ</p>
                </div>
            </div>
        </div>
    </section>
    <!--live map update section end-->

    <!--team two section start-->
    <section class="team-two-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Gặp gỡ đội đáng yêu của chúng tôi</h2>
                        <p class="lead">Phát triển khác biệt để tiến tới các sản phẩm được sản xuất và mạng lưới tối ưu. Quản lý toàn cầu 24/7 các giao diện và nền tảng end-to-end.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="staff-member">
                        <div class="card gray-light-bg text-center border-0">
                            <img src="img/team-1.png" alt="team image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Phạm Nam Vũ</h5>
                                <span>Lập Trình viên</span>
                                <ul class="list-inline pt-2 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote"></p><a
                                    href="#" class="teacher-name">
                                <h5 class="mb-0 teacher text-white">Phạm Nam Vũ</h5></a>
                                <span class="teacher-field text-white">Lập trình Viên</span>
                                <ul class="list-inline py-4 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                                <p class="teacher-see-profile">
                                    <a href="https://www.facebook.com/nemzuken" class="btn outline-white-btn">Liên Hệ </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="staff-member">
                        <div class="card gray-light-bg text-center border-0">
                            <img src="img/team-3.png" alt="team image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Nguyễn Viết Huy</h5>
                                <span>Lập Trình Viên</span>
                                <ul class="list-inline pt-2 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote"> </p><a
                                    href="#" class="teacher-name">
                                <h5 class="mb-0 teacher text-white">Nguyễn Viết Huy</h5></a><span class="teacher-field text-white">Lập trình viên</span>
                                <ul class="list-inline py-4 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                                <p class="teacher-see-profile">
                                    <a href="https://www.facebook.com/profile.php?id=100018552275065" class="btn outline-white-btn">Liên Hệ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="staff-member">
                        <div class="card gray-light-bg text-center border-0">
                            <img src="img/team-2.png" alt="team image" class="img-fluid">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Nguyễn Bá Trung Nguyên</h5>
                                <span>Tìm Kiếm Thông Tin</span>
                                <ul class="list-inline pt-2 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote"> </p><a
                                    href="#" class="teacher-name">
                                <h5 class="mb-0 teacher text-white">Nguyễn Bá Trung Nguyên</h5></a>
                                <span class="teacher-field text-white">Tìm kiếm thông tin</span>
                                <ul class="list-inline py-4 social">
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-facebook"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-linkedin"></span></a></li>
                                    <li class="list-inline-item"><a href="" target="_blank"><span
                                            class="ti-dribbble"></span></a></li>
                                </ul>
                                <p class="teacher-see-profile">
                                    <a href="https://www.facebook.com/toi.la.nguyen2k4" class="btn app-store-btn">Liên Hệ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--team two section end-->

    <!--client section start-->
    <div class="client-section ptb-100">
        <div class="container">
            <!--clients logo start-->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme clients-carousel dot-indicator">
                        <div class="item single-client">
                            <img src="img/clients-logo-01.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-02.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-03.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-04.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-05.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-06.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-07.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-08.png" alt="client logo" class="client-img">
                        </div>
                    </div>
                </div>
            </div>
            <!--clients logo end-->
        </div>
    </div>
    <!--client section start-->

</div>
<!--body content wrap end-->


<!--footer section start-->
<footer class="footer-section gradient-overlay ptb-100 position-relative" style="background: url('img/header-bg-2.jpg')no-repeat center center / cover">
    <div class="shape5"><img src="img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="img/shape3.svg" width="64" alt="shape"></div>
    <div class="shape7"><img src="img/shape4.svg" width="60" alt="shape"></div>
    <div class="shape8 rotateme"><img src="img/shape2.svg" alt="shape"></div>
    <div class="container">
        <!--footer top start-->
        <div class="row justify-content-between">
            <div class="col-md-4 col-lg-4">
                <div class="footer-nav-wrap text-white">
                    <img src="img/SmileCovid-logo 7.png" alt="logo" class="mb-3">
                    <p>Subscribe our newsletter for latest update.</p>

                    <form class="newsletter-form">
                        <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required="" autocomplete="off">
                        <button type="submit" class="disabled" style="pointer-events: all; cursor: pointer;"><i class="fas fa-paper-plane"></i></button>
                    </form>

                    <div class="social-nav mt-4">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">Facebook</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-twitter"></span></a>
                                <div class="tooltip-item">Twitter</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-linkedin"></span></a>
                                <div class="tooltip-item">Linkedin</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-dribbble"></span></a>
                                <div class="tooltip-item">Dribbble</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row footer-top-wrap justify-content-around">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">Liên kết</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Triệu chứng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Phòng ngừa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Về Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">Liên kết hỗ trợ</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Báo cáo tình hình</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Lời khuyên dành cho người sử dụng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Phòng ngừa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Triệu chứng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Huy & Vũ</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">Nguồn</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">WHO Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CDC Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Harvard Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">History of Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">NHS Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer top end-->
        <hr class="custom-hr">
        <!--footer copyright start-->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5 col-lg-5">
                <p class="copyright-text pb-0 mb-0">Copyrights © 2020. All
                    rights reserved by
                    <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a></p>
            </div>
            <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                <ul class="list-inline policy-nav text-right">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--footer copyright end-->
    </div>
</footer>
<!--footer section end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</button>
<!--bottom to top button end-->


<!--jQuery-->
<script src="js/jquery-3.4.1.min.js"></script>
<!--Popper js-->
<script src="js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="js/jquery.easing.min.js"></script>
<!--datatable js-->
<script src="js/datatables.min.js"></script>
<!--wow js-->
<script src="js/wow.min.js"></script>
<!--owl carousel js-->
<script src="js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="js/jquery.countdown.min.js"></script>
<!--custom js-->
<script src="js/scripts.js"></script>
</body>
</html>