{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!--title-->
    <title>N-Covid Corona virus Medical Prevention HTML Template</title>

    <!--favicon icon-->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,800%7COpen+Sans:400,600&display=swap" rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!--Themify icon css-->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <!--Datable min css-->
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <!--animated css-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%} ">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!--responsive css-->
    <link rel="stylesheet" href="{% static 'css/responsive.css'}">

</head>

<body>

    <!--loader start-->
    <div id="preloader">
        <div class="loader1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--loader end-->

    <!--header section start-->
    <header class="header">
        <!--start navbar-->
        <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="index-2.html">
                    <img src="{% static 'img/SmileCovid-logo 7.png' %}" alt="logo" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>
                <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">
                        <li><a href="index-2.html"> Trang chủ</a>
                        </li>
                        <li><a href="symptoms.html">Chăm sóc sức khoẻ</a></li>
                        <li><a href="about-us.html">Tư vấn</a></li>

                        <li><a href="prevention.html">Điều trị</a></li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--header section end-->

    <!--body content wrap start-->
    <div class="main">
        <!--hero section start-->
        <section class="hero-equal-height pt-120 pb-100 gradient-bg">
            <img src="{% static 'img/shape4.svg' %}" alt="group shape" width="80" class="img-fluid group-shape-1">

            <div class="shape3"><img src="{% static 'img/shape3.svg'%}" alt="shape"></div>
            <div class="shape4"><img src="{% static 'img/shape4.svg'%}" alt="shape"></div>

            <div class="shape8 rotateme"><img src="{% static 'img/shape2.svg'%}" alt="shape"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-slider-content text-white z-index position-relative py-5">
                            <h1 class="text-white"> Chăm sóc sức khỏe hậu <strong>COVID-19</strong> như thế nào? ?
                            </h1>
                            <p class="lead">Sau khi bị bệnh COVID-19, người bệnh cần được tiếp tục hỗ trợ hoặc người bệnh cố gắng tự phục vụ mình (nếu có thể) trong sinh hoạt, ăn uống và tập luyện</p>

                            <div class="action-btns mt-3">
                                <a href=" {% url 'nhapTrieuChung' %}  " class="btn accent-solid-btn mr-3 ">Tư vấn online<i class="fas fa-shield-alt pl-3 "></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 ">
                        <div class="hero-animation-img z-index ">
                            <img src="{% static 'img/protect-corona.svg'%} " alt="hero " class="animation-one img-fluid custom-width ">
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'img/combined-shape.svg' %} " alt="s " class="shape-img-2 ">

        </section>
        <!--hero section end-->
        <!--symptoms section start-->
        <section class="symptoms-section ptb-100 ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-md-9 col-lg-8 ">
                        <div class="section-heading text-center mb-5 ">
                            <h2>Các triệu chứng của Coronavirus</h2>
                            <p class="lead ">Mỗi người dân hãy là một chiến sĩ trong công cuộc chống dịch, Việt Nam sẽ chiến thắng đại dịch.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center ">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="symptoms-box-list ">
                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-1.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Ho</h5>
                                <p>Ho về bản chất là phản ứng bảo vệ cơ thể, nhằm tống xuất mầm bệnh ra khỏi đường hô hấp. Tuy nhiên, ho nhiều quá gây mệt, gây khó ngủ thì cần điều trị</p>
                            </div>

                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-2.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Đau đầu</h5>
                                <p>Cảm giác đau ở bất kỳ phần nào của đầu, thay đổi từ đau nhói đến âm ỉ</p>
                            </div>

                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-3.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Lo lắng</h5>
                                <p>Lo lắng trong thời gian dài có thể ảnh hưởng đến cuộc sống hàng ngày của bạn, đến mức nó có thể biếng ăn, thay đổi các thói quen lối sống, các mối quan hệ, giấc ngủ và hiệu suất công việc của bạn. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <div class="symptoms-img ">
                            <img src="{% static 'img/corona-symtom.svg'%} " alt="image " class="d-none d-lg-block d-md-block ">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="symptoms-box-list ">
                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-4.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Khó thở</h5>
                                <p>Khó thở là một vấn đề về hô hấp khá phổ biến. Khó thở khiến người bệnh luôn trong tình trạng thiếu oxy, mệt mỏi, tức ngực, hô hấp khó khăn, hơi thở đứt quãng</p>
                            </div>

                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-5.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Sốt</h5>
                                <p>Sốt là khi có sự tăng nhiệt độ cơ thể tạm thời do phản ứng lại với nhiễm trùng như virus cảm cúm hoặc cảm lạnh, vi khuẩn viêm họng, viêm gây ra do tổn thương mô hoặc bệnh tật…. Nhiệt độ cơ thể chúng ta không bằng nhau ở
                                    các thời điểm trong ngày, thường là cao hơn vào buổi chiều. Tuy nhiên, nếu nhiệt độ vượt quá 38oC, bạn đã bị sốt </p>
                            </div>

                            <div class="single-symptom ">
                                <div class="symptom-icon ">
                                    <img src="{% static 'img/symptoms-icon-6.svg'%} " alt="image " class="img-fluid ">
                                </div>
                                <h5>Viêm họng</h5>
                                <p>Viêm họng là một trong số những bệnh lý có liên quan đến đường hô hấp và thường gặp ở khá nhiều người. Bệnh nếu không được điều trị một cách kịp thời sẽ dẫn đến những biến chứng nghiêm trọng làm ảnh hưởng đến sức khỏe.
                                    Việc tìm hiểu đặc điểm của bệnh lý là điều cần thiết để mỗi người có thể chủ động hơn khi phòng ngừa và chữa bệnh </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--symptoms section end-->

        <!--wash hand section start-->
        <section class="wash-hand-section ptb-100 primary-bg ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-md-9 col-lg-8 ">
                        <div class="section-heading text-center mb-5 ">
                            <h2 class="text-white ">Cách rửa tay</h2>
                            <p class="lead "> Rửa tay thường xuyên bằng xà phòng với nước sạch, súc miệng bằng nước muối để phòng, chống dịch bệnh Covid-19</p>
                        </div>
                    </div>
                </div>
                <div class="row " style="counter-reset: number ">
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h1.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Rửa tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h2.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Sử dụng nước rửa tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h3.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Chà hai tay lại với nhau</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h4.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Tạo bọt cho cả hai bàn tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h5.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Chà giữa các ngón tay của bạn</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h6.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Xoa đều các ngón tay vào lòng bàn tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h7.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Xoa các ngón tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h8.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Rửa móng tay và các đầu ngón tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h9.svg'} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Rửa tay bằng nước sạch</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h10.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Sử dụng khăn sạch để lau tay</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h11.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Dùng khăn sạch tắt nước</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 ">
                        <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4 ">
                            <img src="{% static 'img/h12.svg'%} " alt="wash hand " width="150 " class="img-fluid ">
                            <h5 class="text-white ">Bây giờ tay của bạn sạch sẽ</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--wash hand section end-->






        <!--prevent section start-->
        <section class="prevent-section ptb-100 gray-light-bg position-relative ">


            <div class="shape3 "><img src="{% static 'img/shape3.svg'%} " alt="shape "></div>
            <div class="shape4 "><img src="{% static 'img/shape4.svg'%} " alt="shape "></div>



            <div class="shape8 rotateme "><img src="{% static 'img/shape2.svg'%} " alt="shape "></div>
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-md-6 col-lg-6 ">
                        <div class="img-wrap ">
                            <img src="{% static 'img/recommendation.svg'%} " alt="recommendation " class="img-fluid ">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ">
                        <div class="recommendation-content ">
                            <h2>Khuyến nghị ngăn ngừa lây nhiễm</h2>
                            <p>Hãy chung tay thực hiện nghiêm túc việc chống dịch vì bản thân, vì gia đình và vì mọi người </p>
                            <ul class="mt-4 ">
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/prevention-1.svg'%} " width="50 " class="mr-3 " alt="prevention ">
                                    <div class="prevention-info ">
                                        <strong>Rửa tay bằng gel rửa tay</strong>
                                        <p>Thường xuyên và kỹ lưỡng làm sạch bàn tay của bạn bằng cách xoa tay</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/prevention-2.svg'%} " width="50 " class="mr-3 " alt="prevention ">
                                    <div class="prevention-info ">
                                        <strong>Mang khẩu trang khi ra ngoài</strong>
                                        <p>Bạn nên đeo khẩu trang khi tiếp xúc người khác</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/prevention-3.svg'%} " width="50 " class="mr-3 " alt="prevention ">
                                    <div class="prevention-info ">
                                        <strong>Dùng giấy che miệng khi ho</strong>
                                        <p>Sau khi ho rửa tay bằng xà phòng và nước </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/prevention-4.svg'%} " width="50 " class="mr-3 " alt="prevention ">
                                    <div class="prevention-info ">
                                        <strong>Gọi xe cấp cứu khi trường hợp nguy cấp</strong>
                                        <p>Đối với các trường hợp khẩn cấp thì gọi ngay chp 119 dể được hỗ trợ sức khỏe
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5 ">
                    <div class="col-md-6 col-lg-6 ">
                        <div class="recommendation-content ">
                            <h2>Cách giữ an toàn,biện pháp phòng ngừa quan trọng</h2>
                            <p>Thường xuyên rửa tay bằng xà phòng và nước trong ít nhất 20 giây, đặc biệt là sau khi bạn ở nơi công cộng, hoặc sau khi xì mũi, ho hoặc hắt hơi</p>
                            <ul class="mt-4 ">
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/contagion-1.svg'%} " width="50 " class="mr-3 " alt="don 't do">
                                    <div class="prevention-info">
                                        <strong>Tránh tiếp xúc với người bệnh</strong>
                                        <p></p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2">
                                    <img src="{% static 'img/contagion-2.svg'%}" width="50" class="mr-3" alt="don't do ">
                                    <div class="prevention-info ">
                                        <strong>Các đội tượng bị nhiễm bệnh</strong>
                                        <p></p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2 ">
                                    <img src="{% static 'img/contagion-3.svg'%} " width="50 " class="mr-3 " alt="don 't do">
                                    <div class="prevention-info">
                                        <strong>Không bắt tay với người bệnh</strong>
                                        <p></p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start py-2">
                                    <img src="{% static 'img/contagion-4.svg'%}" width="50" class="mr-3" alt="don't do ">
                                    <div class="prevention-info ">
                                        <strong>Không tiếp xúc động vật</strong>
                                        <p></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ">
                        <div class="img-wrap ">
                            <img src="{% static 'img/recommendations-2.svg'%} " alt="recommendation " class="img-fluid ">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--appointment form section start-->
        <section class="appointment-section ptb-100 gray-light-bg ">
            <div class="container ">
                <div class="row justify-content-around ">
                    <div class="col-lg-6 align-self-center ">
                        <div class="appointment-content ">
                            <h2></h2>
                            <p> </p>
                            <h4></h4>
                            <p class="lead "> <span class="h4 color-primary "></span></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--appointment form section end-->

    </div>
    <!--body content wrap end-->



    <!--footer section start-->
    <footer class="footer-section gradient-overlay ptb-100 position-relative " style="background: url( 'img/header-bg-2.jpg')no-repeat center center / cover ">


        <div class="container ">
            <!--footer top start-->
            <div class="row justify-content-between ">
                <div class="col-md-4 col-lg-4 ">
                    <div class="footer-nav-wrap text-white ">
                        <img src="img/SmileCovid-logo 7.png " alt="logo " class="mb-3 ">
                        <p>Subscribe our newsletter for latest update.</p>

                        <form class="newsletter-form ">
                            <input type="text " class="input-newsletter " placeholder="Enter your email address " name="EMAIL " required=" " autocomplete="off ">
                            <button type="submit " class="disabled " style="pointer-events: all; cursor: pointer; "><i
                                        class="fas fa-paper-plane "></i></button>
                        </form>

                        <div class="social-nav mt-4 ">
                            <ul class="list-unstyled social-list mb-0 ">
                                <li class="list-inline-item tooltip-hover ">
                                    <a href="# " class="rounded "><span class="ti-facebook "></span></a>
                                    <div class="tooltip-item ">Facebook</div>
                                </li>
                                <li class="list-inline-item tooltip-hover "><a href="# " class="rounded "><span
                                                class="ti-twitter "></span></a>
                                    <div class="tooltip-item ">Twitter</div>
                                </li>
                                <li class="list-inline-item tooltip-hover "><a href="# " class="rounded "><span
                                                class="ti-linkedin "></span></a>
                                    <div class="tooltip-item ">Linkedin</div>
                                </li>
                                <li class="list-inline-item tooltip-hover "><a href="# " class="rounded "><span
                                                class="ti-dribbble "></span></a>
                                    <div class="tooltip-item ">Dribbble</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-7 ">
                    <div class="row footer-top-wrap justify-content-around ">
                        <div class="col-md-3 col-sm-6 ">
                            <div class="footer-nav-wrap text-white ">
                                <h4 class="text-white ">QUICK LINKS</h4>
                                <ul class="nav flex-column ">
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Symptoms</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Prevention</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">About Corona</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Blog Page</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="footer-nav-wrap text-white ">
                                <h4 class="text-white ">HELPFULL LINK</h4>
                                <ul class="nav flex-column ">
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Situation Reports</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Advice For Public</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Prevention</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Symptoms</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Donor & Partners</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="footer-nav-wrap text-white ">
                                <h4 class="text-white ">RESOURCES</h4>
                                <ul class="nav flex-column ">
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">WHO Website</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">CDC Website</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Harvard Health</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">History of Corona</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">NHS Website</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer top end-->
            <hr class="custom-hr ">
            <!--footer copyright start-->
            <div class="row align-items-center justify-content-between ">
                <div class="col-md-5 col-lg-5 ">
                    <p class="copyright-text pb-0 mb-0 ">Copyrights © 2020. All rights reserved by
                        <a href="https://themeforest.net/user/themetags " target="_blank ">ThemeTags</a>
                    </p>
                </div>
                <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block ">
                    <ul class="list-inline policy-nav text-right ">
                        <li class="list-inline-item "><a href="# ">Privacy Policy</a></li>
                        <li class="list-inline-item "><a href="# ">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!--footer copyright end-->
        </div>
    </footer>
    <!--footer section end-->

    <!--bottom to top button start-->
    <button class="scroll-top scroll-to-target " data-target="html ">
            <span class="fas fa-hand-point-up "></span>
        </button>
    <!--bottom to top button end-->

    <!--jQuery-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %} "></script>
    <!--Popper js-->
    <script src="{% static 'js/popper.min.js'%} "></script>
    <!--Bootstrap js-->
    <script src="{% static 'js/bootstrap.min.js'%} "></script>
    <!--Magnific popup js-->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%} "></script>
    <!--jquery easing js-->
    <script src="{% static 'js/jquery.easing.min.js'%} "></script>
    <!--datatable js-->
    <script src="{% static 'js/datatables.min.js'%} "></script>
    <!--wow js-->
    <script src="{% static 'js/wow.min.js' %} "></script>
    <!--owl carousel js-->
    <script src="{% static 'js/owl.carousel.min.js' %} "></script>
    <!--countdown js-->
    <script src="{% static 'js/jquery.countdown.min.js'%} "></script>
    <!--custom js-->
    <script src="{% static 'js/scripts.js'%} "></script>
</body>

</html>