<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>N-Covid Corona virus Medical Prevention HTML Template</title>

    <!--favicon icon-->
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,800%7COpen+Sans:400,600&display=swap" rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="css/all.min.css">
    <!--Datable min css-->
    <link rel="stylesheet" href="css/datatables.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo-white.png" alt="logo" class="img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li><a href="#" class="dropdown-toggle"> Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Page 01</a></li>
                            <li><a href="index-2.html">Home Page 02</a></li>
                            <li><a href="index-3.html">Home Page 03</a></li>
                            <li><a href="index-4.html">Home Page 04</a></li>
                            <li><a href="index-5.html">Home Page 05</a></li>
                            <li><a href="index-6.html">Home Page 06</a></li>
                        </ul>
                    </li>
                    <li><a href="about-us.html">About Corona</a></li>
                    <li><a href="symptoms.html">Symptoms</a></li>
                    <li><a href="prevention.html">Prevention</a></li>
                    <li><a href="#" class="dropdown-toggle">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="out-break.html">Outbreak Page</a></li>
                            <li><a href="team.html">Our Experts</a></li>
                            <li><a href="team-single.html">Expert Profile</a></li>
                            <li><a href="basic-login.html">Login Page 1</a></li>
                            <li><a href="login.html">Login Page 2</a></li>
                            <li><a href="basic-sign-up.html">Signup Page 1</a></li>
                            <li><a href="sign-up.html">Signup Page 2</a></li>
                            <li><a href="password-reset.html">Reset Password</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                            <li><a href="download.html">Download Page</a></li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="thank-you.html">Thank You Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog-default.html">Blog Grid</a></li>
                            <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog-right-sidebar-2.html">Blog Right Sidebar 02</a></li>
                            <li><a href="blog-single-left-sidebar.html">Details Left Sidebar</a></li>
                            <li><a href="blog-single-right-sidebar.html">Details Right Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header section end-->

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
        <div class="hero-bottom-shape-two" style="background: url('img/hero-bottom-shape.svg')no-repeat bottom center"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">Coronavirus Outbreak</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="#">Home</a></li>
                                <li class="list-inline-item breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="list-inline-item breadcrumb-item active">Coronavirus Outbreak</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->

    <!--live map update section start-->
    <section class="map-update ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Corona Virus (COVID-19) Live Reports</h2>
                        <p class="lead">The most common symptoms of COVID-19 and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="map-update-wrap position-relative">
                        <iframe  style="width: 100%" height="450" class="rounded shadow" src="https://coronavirus.app/map?embed=true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 text-center updated-text">
                    <p>* If you want to see the data you hover on the red circle</p>
                </div>
            </div>
        </div>
    </section>
    <!--live map update section end-->

    <!--total case and death seciton start-->
    <section class="total-death-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="single-total-case d-flex align-items-center gray-light-bg total-case p-4 rounded shadow-sm">
                        <div class="case-icon mr-3">
                            <i class="fas fa-user icon-md"></i>
                        </div>
                        <div class="case-info">
                            <h3 class="mb-1">1,133,455</h3>
                            <h5>Total Cases</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single-total-case d-flex align-items-center gray-light-bg total-death p-4 rounded shadow-sm">
                        <div class="case-icon mr-3">
                            <i class="fas fa-bed icon-md"></i>
                        </div>
                        <div class="case-info">
                            <h3 class="mb-1">61,141</h3>
                            <h5>Total Death</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single-total-case d-flex align-items-center gray-light-bg total-recovered p-4 rounded shadow-sm">
                        <div class="case-icon mr-3">
                            <i class="fas fa-child icon-md"></i>
                        </div>
                        <div class="case-info">
                            <h3 class="mb-1">236,158</h3>
                            <h5>Total Recovered</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="single-total-case d-flex align-items-center gray-light-bg new-case p-4 rounded shadow-sm">
                        <div class="case-icon mr-3">
                            <i class="fas fa-bell icon-md"></i>
                        </div>
                        <div class="case-info">
                            <h3 class="mb-1">21,955</h3>
                            <h5>New Cases</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--total case and death seciton end-->

    <!--data table section start-->
    <section class="data-table-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive outbreak-table-wrap">
                        <table id="outBreakTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Country,<br>Other</th>
                                <th>Total<br>Cases</th>
                                <th>New<br>Cases</th>
                                <th>Total<br>Deaths</th>
                                <th>New<br>Deaths</th>
                                <th>Total<br>Recovered</th>
                                <th>Active<br>Cases</th>
                                <th>Serious,<br>Critical</th>
                                <th>Tot&nbsp;Cases/<br>1M pop</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Total</th>
                                <th>1,133,455</th>
                                <th class="new_case">+16,812</th>
                                <th class="new_death">60,381</th>
                                <th>+1,223</th>
                                <th>236,000</th>
                                <th>837,074</th>
                                <td>39,599</td>
                                <td>145.4</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td><a href="#">USA</a></td>
                                <td>277,161</td>
                                <td class="new_case">+32,284</td>
                                <td>7,392</td>
                                <td class="new_death">+1,321</td>
                                <td>12,283</td>
                                <td>257,918</td>
                                <td>5,787</td>
                                <td>839</td>
                            </tr>
                            <tr>
                                <td><a href="#">Spain</a></td>
                                <td>119,827</td>
                                <td class="new_case">+7,134</td>
                                <td>11,198</td>
                                <td class="new_death">+850</td>
                                <td>30,513	</td>
                                <td>77,488</td>
                                <td>6,416</td>
                                <td>2,549</td>
                            </tr>
                            <tr>
                                <td><a href="#">Italy</a></td>
                                <td>119,827</td>
                                <td class="new_case">+4,585</td>
                                <td>14,681</td>
                                <td class="new_death">+766</td>
                                <td>19,758</td>
                                <td>85,388</td>
                                <td>4,068</td>
                                <td>1,982</td>
                            </tr>
                            <tr>
                                <td><a href="#">China</a></td>
                                <td>81,620</td>
                                <td class="new_case">+31</td>
                                <td>3,322</td>
                                <td class="new_death">+4</td>
                                <td>76,571</td>
                                <td>1,727</td>
                                <td>379</td>
                                <td>56</td>
                            </tr>
                            <tr>
                                <td><a href="#">Germany</a></td>
                                <td>91,159	</td>
                                <td class="new_case">+6,365</td>
                                <td>1,275</td>
                                <td class="new_death">+168</td>
                                <td>24,575</td>
                                <td>65,309</td>
                                <td>3,936</td>
                                <td>1,088</td>
                            </tr>
                            <tr>
                                <td><a href="#">Iran</a></td>
                                <td>24,811</td>
                                <td></td>
                                <td>1,934</td>
                                <td></td>
                                <td>8,913</td>
                                <td>13,964</td>
                                <td></td>
                                <td>295</td>
                            </tr>
                            <tr>
                                <td><a href="#">France</a></td>
                                <td>22,304</td>
                                <td></td>
                                <td>1,100</td>
                                <td></td>
                                <td>3,281</td>
                                <td>17,923</td>
                                <td>2,516</td>
                                <td>342</td>
                            </tr>
                            <tr>
                                <td><a href="#">Switzerland</a></td>
                                <td>9,991</td>
                                <td class="new_case">+114</td>
                                <td>133</td>
                                <td class="new_death">+11</td>
                                <td>131</td>
                                <td>9,727</td>
                                <td>141</td>
                                <td>1,154</td>
                            </tr>
                            <tr>
                                <td><a href="#">S. Korea</a></td>
                                <td>9,137</td>
                                <td class="new_case">+100</td>
                                <td>126</td>
                                <td class="new_death">+6</td>
                                <td>3,730</td>
                                <td>5,281</td>
                                <td>59</td>
                                <td>178</td>
                            </tr>
                            <tr>
                                <td><a href="#">UK</a></td>
                                <td>8,077</td>
                                <td></td>
                                <td>422</td>
                                <td></td>
                                <td>135</td>
                                <td>7,520</td>
                                <td>20</td>
                                <td>119</td>
                            </tr>
                            <tr>
                                <td><a href="#">Netherlands</a></td>
                                <td>5,560</td>
                                <td></td>
                                <td>276</td>
                                <td></td>
                                <td>2</td>
                                <td>5,282</td>
                                <td>435</td>
                                <td>324</td>
                            </tr>
                            <tr>
                                <td><a href="#">Austria</a></td>
                                <td>5,394</td>
                                <td class="new_case">+111</td>
                                <td>30</td>
                                <td class="new_death">+2</td>
                                <td>9</td>
                                <td>5,355</td>
                                <td>26</td>
                                <td>599</td>
                            </tr>
                            <tr>
                                <td><a href="#">Belgium</a></td>
                                <td>4,269</td>
                                <td></td>
                                <td>122</td>
                                <td></td>
                                <td>461</td>
                                <td>3,686</td>
                                <td>381</td>
                                <td>368</td>
                            </tr>
                            <tr>
                                <td><a href="#">Norway</a></td>
                                <td>2,868</td>
                                <td class="new_case">+2</td>
                                <td>13</td>
                                <td class="new_death">+1</td>
                                <td>6</td>
                                <td>2,849</td>
                                <td>44</td>
                                <td>529</td>
                            </tr>
                            <tr>
                                <td><a href="#">Canada</a></td>
                                <td>2,792</td>
                                <td></td>
                                <td>26</td>
                                <td></td>
                                <td>112</td>
                                <td>2,654</td>
                                <td>1</td>
                                <td>74</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--data table section end-->


</div>
<!--body content wrap end-->


<!--footer section start-->
<footer class="footer-section gradient-overlay ptb-100 position-relative" style="background: url('img/header-bg-2.jpg')no-repeat center center / cover">
    <div class="shape5"><img src="img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="img/shape3.svg" width="64" alt="shape"></div>
    <div class="shape7"><img src="img/shape4.svg" width="60" alt="shape"></div>
    <div class="shape8 rotateme"><img src="img/shape2.svg" alt="shape"></div>
    <div class="container">
        <!--footer top start-->
        <div class="row justify-content-between">
            <div class="col-md-4 col-lg-4">
                <div class="footer-nav-wrap text-white">
                    <img src="img/logo-white.png" alt="logo" class="mb-3">
                    <p>Subscribe our newsletter for latest update.</p>

                    <form class="newsletter-form">
                        <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required="" autocomplete="off">
                        <button type="submit" class="disabled" style="pointer-events: all; cursor: pointer;"><i class="fas fa-paper-plane"></i></button>
                    </form>

                    <div class="social-nav mt-4">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">Facebook</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-twitter"></span></a>
                                <div class="tooltip-item">Twitter</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-linkedin"></span></a>
                                <div class="tooltip-item">Linkedin</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-dribbble"></span></a>
                                <div class="tooltip-item">Dribbble</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row footer-top-wrap justify-content-around">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">QUICK LINKS</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Symptoms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prevention</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">HELPFULL LINK</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Situation Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Advice For Public</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prevention</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Symptoms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Donor & Partners</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">RESOURCES</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">WHO Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CDC Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Harvard Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">History of Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">NHS Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer top end-->
        <hr class="custom-hr">
        <!--footer copyright start-->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5 col-lg-5">
                <p class="copyright-text pb-0 mb-0">Copyrights © 2020. All
                    rights reserved by
                    <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a></p>
            </div>
            <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                <ul class="list-inline policy-nav text-right">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--footer copyright end-->
    </div>
</footer>
<!--footer section end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</button>
<!--bottom to top button end-->


<!--jQuery-->
<script src="js/jquery-3.4.1.min.js"></script>
<!--Popper js-->
<script src="js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="js/jquery.easing.min.js"></script>
<!--datatable js-->
<script src="js/datatables.min.js"></script>
<!--wow js-->
<script src="js/wow.min.js"></script>
<!--owl carousel js-->
<script src="js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="js/jquery.countdown.min.js"></script>
<!--custom js-->
<script src="js/scripts.js"></script>
</body>
</html>