<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>Smilecovid-triệu chứng</title>

    <!--favicon icon-->
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,800%7COpen+Sans:400,600&display=swap"
          rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="css/all.min.css">
    <!--Datable min css-->
    <link rel="stylesheet" href="css/datatables.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/SmileCovid-logo 7.png" alt="logo" class="img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li><a href="index-2.html" class=""> Trang chủ</a>
                    </li>
                    <li><a href="about-us.html">Tư vấn covid</a></li>
                    <li><a href="symptoms.html">Triệu chứng</a></li>
                    <li><a href="prevention.html">Phòng ngừa</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header section end-->

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
        <div class="hero-bottom-shape-two"
             style="background: url('img/hero-bottom-shape.svg')no-repeat bottom center"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">Triệu chứng Covid 19</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="index-2.html">Trang chủ</a></li>
                                <li class="list-inline-item breadcrumb-item active">Triệu chứng</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->

    <!--prevention section start-->
    <section class="prevention-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Làm thế nào để ngăn chặn Coronavirus</h2>
                        <p class="lead">Nếu bạn bị bệnh với COVID-19 hoặc nghĩ rằng bạn có thể bị COVID-19, hãy làm theo các bước để chăm sóc bản thân và giúp đỡ những người khác trong gia đình và xung quanh  của bạn</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <ul class="prevention-list">
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-1.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Ở nhà trừ khi bạn được chăm sóc của y tế</h5>
                                <ul class="list-dot">
                                    <li><strong>Ở nhà</strong> Hầu hết những người bị COVID-19 bị bệnh nhẹ và có thể tự phục hồi tại nhà mà không cần chăm sóc y tế. Đừng rời khỏi nhà của bạn, ngoại trừ để được chăm sóc y tế. Không đến thăm các khu vực công cộng
                                    </li>
                                    <li><strong>Giữ liên lạc với bác sĩ của bạn</strong> - Gọi trước khi bạn được chăm sóc y tế. Đảm bảo được chăm sóc nếu bạn khó thở, hoặc có bất kỳ dấu hiệu cảnh báo khẩn cấp nào khác, hoặc nếu bạn nghĩ đó là trường hợp khẩn cấp
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-2.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Cách ly bản thân khỏi mọi người</h5>
                                <ul class="list-dot">
                                    <li><strong>Tránh xa những người khác</strong> càng nhiều càng tốt, bạn tránh xa những người khác. Bạn nên ở trong một “phòng bệnh” cụ thể nếu có thể, và tránh xa những người khác trong nhà của bạn. Sử dụng phòng tắm riêng, nếu có.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-3.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Nếu bạn bị ốm hãy đeo khẩu trang</h5>
                                <ul class="list-dot">
                                    <li><strong>Nếu bạn bị ốm</strong> Bạn nên đeo khẩu trang, nếu có, khi bạn ở gần những người khác (kể cả trước khi bạn vào văn phòng của nhà cung cấp dịch vụ chăm sóc sức khỏe)
                                    </li>
                                    <li><strong>Nếu bạn đang chăm sóc người khác</strong> Nếu người bệnh không thể đeo khẩu trang (ví dụ như vì nó gây khó thở), thì với tư cách là người chăm sóc của họ, bạn nên đeo khẩu trang khi ở cùng phòng với họ. Khách đến thăm, không phải là người chăm sóc, không được khuyến khích
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-6">
                    <ul class="prevention-list">
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-4.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Che miệng khi ho và hắt hơi</h5>
                                <ul class="list-dot">
                                    <li><strong>Che </strong>  Che miệng và mũi bằng khăn giấy khi ho hoặc hắt hơi
                                    </li>
                                    <li><strong>Vứt bỏ</strong> Vứt khăn giấy đã sử dụng vào thùng rác 
                                    </li>
                                    <li><strong>Rửa tay</strong> Rửa tay ngay lập tức bằng xà phòng và nước trong ít nhất 20 giây. Nếu không có xà phòng và nước, hãy rửa tay sạch bằng chất khử trùng tay có cồn chứa ít nhất 60% cồn
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-5.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Rửa tay thường xuyên</h5>
                                <ul class="list-dot">
                                    <li><strong>Rửa tay </strong> Thường xuyên rửa tay bằng xà phòng và nước trong ít nhất 20 giây. Điều này đặc biệt quan trọng sau khi xì mũi, ho hoặc hắt hơi; Đi vào phòng tắm; và trước khi ăn hoặc chế biến thức ăn
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="d-flex align-items-start py-3">
                            <img src="img/prevention-6.png" width="100" class="img-fluid mr-4" alt="prevention">
                            <div class="prevention-info">
                                <h5>Theo dõi các triệu chứng của bạn</h5>
                                <ul class="list-dot">
                                    <li><strong>Các triệu chứng</strong>Các triệu chứng thường gặp của COVID-19 bao gồm sốt và ho. Khó thở là một triệu chứng nghiêm trọng hơn có nghĩa là bạn cần được chăm sóc y tế
                                    </li>
                                    <li><strong>Đeo khẩu trang</strong> Nếu có, hãy đeo khẩu trang trước khi vào tòa nhà. Nếu bạn không thể đeo khẩu trang, hãy che đi khi ho và hắt hơi. Cố gắng tránh xa người khác ít nhất 6 feet. Điều này sẽ giúp bảo vệ những người trong văn phòng hoặc phòng chờ
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--prevention section end-->

    <!--wash your hand section start-->
    <section class="wash-hand-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Cách rửa tay</h2>
                        <p class="lead">Rửa tay thường xuyên bằng xà phòng với nước sạch, súc miệng bằng
                            nước muối để phòng, chống dịch bệnh Covid-19</p>
                    </div>
                </div>
            </div>
            <div class="row" style="counter-reset: number">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h1.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Rửa tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h2.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Sử dụng nước rửa tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h3.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Chà hai tay lại với nhau/h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h4.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Tạo bọt cho cả hai bàn tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h5.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Chà giữa các ngón tay của bạn<</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h6.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>>Xoa đều các ngón tay vào lòng bàn tay </h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h7.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>CXoa các ngón tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h8.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Rửa móng tay và các đầu ngón tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h9.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Rửa tay bằng nước sạch</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h10.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Sử dụng khăn sạch để lau tay</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h11.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>UDùng khăn sạch tắt nước</h5>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="wahs-hand-single text-center p-4 py-sm-0 py-md-4 py-lg-4">
                        <img src="img/h12.svg" alt="wash hand" width="150" class="img-fluid">
                        <h5>Bây giờ tay của bạn sạch sẽ</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--wash your hand section end-->


    <!--appointment form section start-->
    <section class="appointment-section ptb-100">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-6 align-self-center">
                    <div class="appointment-content">
                        <h2></h2>
                        <p> </p>
                        <h4></h4>
                        <p class="lead"> <span class="h4 color-primary"></span></p>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="appointment-form-wrap rounded border">
                        <ul class="nav nav-tabs appointment-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#one" aria-controls="one" role="tab" aria-selected="true">Tư vấn</a>
                            </li>
                        </ul>
                        <div class="tab-content appointment-form-content">
                            <div class="tab-pane fade active show" id="one">
                                <form action="#" class="appointment-form p-5">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-user color-primary"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Độ tuổi">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-mobile color-primary"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Tiền sử bệnh">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-email color-primary"></span>
                                                    </div>
                                                    <input type="email" class="form-control" placeholder="riệu chứng covid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-icon">
                                                        <span class="ti-exchange-vertical color-primary"></span>
                                                    </div>
                                                    <select class="form-control" name="select">
                                                        <option>Chọn nghề nghiệp</option>
                                                        <option>Học sinh</option>
                                                        <option>Sinh viên</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <button type="submit" class="btn accent-solid-btn">
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="two">
                                <form action="#" class="appointment-form p-5">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-user color-primary"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Enter Your Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-mobile color-primary"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Enter Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-icon">
                                                        <span class="ti-email color-primary"></span>
                                                    </div>
                                                    <input type="email" class="form-control" placeholder="Enter Your Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-icon">
                                                        <span class="ti-exchange-vertical color-primary"></span>
                                                    </div>
                                                    <select class="form-control" name="select">
                                                        <option>Select Depertment</option>
                                                        <option>Doctor</option>
                                                        <option>Medicine</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <button type="submit" class="btn accent-solid-btn">
                                                Make Appointment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--appointment form section end-->

</div>
<!--body content wrap end-->


<!--footer section start-->
<footer class="footer-section gradient-overlay ptb-100 position-relative"
        style="background: url('img/header-bg-2.jpg')no-repeat center center / cover">
    <div class="shape5"><img src="img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="img/shape3.svg" width="64" alt="shape"></div>
    <div class="shape7"><img src="img/shape4.svg" width="60" alt="shape"></div>
    <div class="shape8 rotateme"><img src="img/shape2.svg" alt="shape"></div>
    <div class="container">
        <!--footer top start-->
        <div class="row justify-content-between">
            <div class="col-md-4 col-lg-4">
                <div class="footer-nav-wrap text-white">
                    <img src="img/SmileCovid-logo 7.png" alt="logo" class="mb-3">
                    <p>Subscribe our newsletter for latest update.</p>

                    <form class="newsletter-form">
                        <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL"
                               required="" autocomplete="off">
                        <button type="submit" class="disabled" style="pointer-events: all; cursor: pointer;"><i
                                class="fas fa-paper-plane"></i></button>
                    </form>

                    <div class="social-nav mt-4">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">Facebook</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-twitter"></span></a>
                                <div class="tooltip-item">Twitter</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-linkedin"></span></a>
                                <div class="tooltip-item">Linkedin</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span
                                    class="ti-dribbble"></span></a>
                                <div class="tooltip-item">Dribbble</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row footer-top-wrap justify-content-around">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">QUICK LINKS</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Symptoms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prevention</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">HELPFULL LINK</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Situation Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Advice For Public</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Prevention</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Symptoms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Donor & Partners</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-nav-wrap text-white">
                            <h4 class="text-white">RESOURCES</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">WHO Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CDC Website</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Harvard Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">History of Corona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">NHS Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer top end-->
        <hr class="custom-hr">
        <!--footer copyright start-->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5 col-lg-5">
                <p class="copyright-text pb-0 mb-0">Copyrights © 2020. All
                    rights reserved by
                    <a href="https://themeforest.net/user/themetags" target="_blank">ThemeTags</a></p>
            </div>
            <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                <ul class="list-inline policy-nav text-right">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--footer copyright end-->
    </div>
</footer>
<!--footer section end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</button>
<!--bottom to top button end-->


<!--jQuery-->
<script src="js/jquery-3.4.1.min.js"></script>
<!--Popper js-->
<script src="js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="js/jquery.easing.min.js"></script>
<!--datatable js-->
<script src="js/datatables.min.js"></script>
<!--wow js-->
<script src="js/wow.min.js"></script>
<!--owl carousel js-->
<script src="js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="js/jquery.countdown.min.js"></script>
<!--custom js-->
<script src="js/scripts.js"></script>
</body>
</html>